<h1>This is one individual book</h1>

<h3>Title: {{book.title}}</h3>
<p>Author: {{book.author}}</p>
<p>Genre: {{book.genre}}</p>
<p>Condition: {{book.condition}}</p>
<p>Owner: <a href="/user/{{book.owner._id}}">{{book.owner.username}}</a></p>
{{#if alreadyMadeRequest}}
<p>You have made a request for this book.</p>
{{else}}
{{#unless isItOwnBook}}
<form action="/requests/{{book._id}}" method="POST">
  <button>REQUEST</button>
</form>
{{/unless}}
{{/if}}

{{#each requests}}
<p><a href="/user/{{this.requestingUser._id}}">{{this.requestingUser.username}}</a> has requested this book.</p>

{{#if ../isItOwnBook}}
{{!-- {{#if ../../success}} --}}
{{!-- <p>{{../../success}}</p> --}}
{{!-- {{else}} --}}

<form action="/accept/{{this._id}}" method="POST">
  <button>ACCEPT REQUEST</button>
</form>

{{/if}}

{{/each}}