<h1>This is one individual book</h1>

<h3>Title: {{book.title}}</h3>
<p>Author: {{book.author}}</p>
<p>Genre: {{book.genre}}</p>
<p>Condition: {{book.condition}}</p>
<p>Owner: <a href="/user/{{book.owner._id}}">{{book.owner.username}}</a></p>

<form action="/request/{{this._id}}" method="POST">
  <button>REQUEST</button>
</form>

{{#each requests}}
<p><a href="/user/{{this.requestingUser._id}}">{{this.requestingUser.username}}</a> has requested this book.</p>

{{!-- {{#if true}}

{{else}}
<button>ACCEPT REQUEST</button>

{{/if}} --}}
{{/each}}