<h1>Edit your book: "{{bookToEdit.title}}"</h1>

<form action="/book/edit/{{bookToEdit._id}}" method="POST">

  <label for="title">Title: </label>
  <input type="text" name="title" id="username" value="{{bookToEdit.title}}">
  <br>

  <label for="">Author: </label>
  <input type="text" name="author" value="{{bookToEdit.author}}">
  <br>

  <label for="">Genre: </label>
  <input type="text" name="genre" value="{{bookToEdit.genre}}">
  <br>

  <label for="">Condition: </label>
  <input type="text" name="condition" value="{{bookToEdit.condition}}">
  <br>

  <button type="submit">Update Book</button>

</form>