<h1>{{user.username}}'s books to give away</h1>

<h2>YOU KNOW HOW TO PULL ME JUST RIGHT</h2>

{{#each user.booksToGive}}
<!-- IMG HERE MAYBE-->
<p>Title: <a href="/book/{{this._id}}">{{this.title}}</a> </p>
<p>Author: {{this.author}}</p>
<p>Condition: {{this.condition}}</p>
<p>Genre: {{this.genre}}</p>
<button><a href="/book/edit/{{this._id}}">Edit book</a></button>
<button><a href="/book/delete/{{this._id}}">Delete book</a></button>
</br>
{{/each}}

<a href="/new-book">Upload a new book</a>