<h1>{{user.username}}'s books to give away</h1>

{{#each book}}

<h4>Title: {{this.title}}</h4>
<p>Author: {{this.author}}</p>
<p>Genre: {{this.genre}}</p>
<p>Condition: {{this.condition}}</p>
<p>Owner: {{this.owner}}</p>

{{/each}}

<a href="/new-book">Upload a new book</a>