<h1>{{user.username}}'s books to give away</h1>

<h2>This is {{user.username}}'s available books</h2>

{{#each user.booksToGive}}

<h4>Title: <a href="/book"></a>{{this.title}}</a></h4>
<p>Author: {{this.author}}</p>
<p>Genre: {{this.genre}}</p>
<p>Condition: {{this.condition}}</p>
<a href="/book/edit/{{this._id}}">Edit book</a>
<a href="/book/delete/{{this._id}}">Delete book</a>
<br>
{{/each}}

<a href="/new-book">Upload a new book</a>