<h1>Your Book Requests</h1>
{{#unless entries}}
<p>You currently do not have any pending requests! Head over to our <a href="/browse">donations page</a> and take a book
  around!</p>
{{/unless}}
<section class="book-container">
  {{#each entries}}
  <section class="book-card">
    <div class="cards">
      <p class="p-card">{{this.status}}</p>
      <p class="p-card">Title: <a href="/book/{{this.book._id}}">{{this.book.title}}</a></p>
      <p class="p-card">Author: {{this.book.author}}</p>
      <p class="p-card">Genre: {{this.book.genre}}</p>
      <p class="p-card">Condition: {{this.book.condition}}</p>
    </div>
    <button class="orange"><a href="/requests/delete/{{this._id}}">Cancel Request</a></button>

  </section>


  {{/each}}
</section>