<div class="page-title">
  <h1>Bibliophilia? We biblio-feel-ya!</h1>
  <h2>Here you can browse our full collection</h2>
</div>

<section class="book-container">
  {{#each books}}
  <section class="book-card">
    <div class="cards">
      <p class="p-card">Title: <a href="/book/{{this._id}}">{{this.title}}</a> </p>
      <p class="p-card">Author: {{this.author}}</p>
      <p class="p-card">Genre: {{this.genre}}</p>
      <p class="p-card">Condition: {{this.condition}}</p>
      <p class="p-card">Owner: <a href="/user/{{this.owner._id}}">{{this.owner.username}}</a></p>

    </div>
  </section>
  {{/each}}
</section>