<h1>HERE IS WHERE YOU LOOK FOR BOOKS, NERD</h1>

{{#each books}}
<p>Title: <a href="/book/{{this._id}}">{{this.title}}</a> </p>
<p>Author: {{this.author}}</p>
<p>Genre: {{this.genre}}</p>
<p>Condition: {{this.condition}}</p>
<p>Owner: <a href="/user/{{this.owner._id}}">{{this.owner.username}}</a></p>
<form action="/book/:bookID/request" method="POST">
  <button>REQUEST</button>
</form>

<br />
{{/each}}