<h1>Welcome to {{title}}</h1>


{{#if user}}

<p>Ready to ensure a steady book suply to your shelf, {{user.username}}?</p>
<h2>20 latest books here!!</h2>
{{else}}
<h2>Welcome to {{title}}!</h2>
<p>Sign in or log in to start browsing books!</p>

{{/if}}

{{#each books}}
<p>Title: <a href="/book/{{this._id}}">{{this.title}}</a> </p>
<p>Author: {{this.author}}</p>
<p>Genre: {{this.genre}}</p>
<p>Condition: {{this.condition}}</p>
<p>Owner: <a href="/user/{{this.owner._id}}">{{this.owner.username}}</a></p>
<form action="/request/{{this._id}}" method="POST">
  <button>REQUEST</button>
</form>
<!--UPDATE WHEN YOU HAVE A REQUEST -->
<br />
{{/each}}