<h1>Welcome to your own Bookingham Palace, {{user.username}}!</h1>
<div class="dont-stick">
  <div class="profile-settings">
    <button class="green"><a href="/update-settings">Profile Settings</a></button>
    <button class="green"><a href="/books/wish-list">My Requested Books</a></button>
    <button class="green"><a href="/books/giveaway">My Donations</a></button>
    <div class="bio">
      <p><b>Location</b>: {{user.location}}</p>
    </div>
    <div class="bio">
      <p><b>Bio</b>: {{user.bio}}</p>
    </div>
  </div>
</div>




{{#each requests}}
<div class="congratulations">
  <p><b>Congratulations!</b></p>
  <p>Your request for {{book.title}} has been accepted! </p>
  <p>You can contact {{book.owner.username}} at
    {{book.owner.email}} to arrange the shipment!
  </p>
</div>

{{/each}}